**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.tfvars
**/*.tfvars.json
*.tfplan
*.tfout
crash.log
*.auto.tfvars
*.zip
*.tar.gz
*.tar.bz2
*.tmp
*.swp
*.bak
*.log
.DS_Store
Thumbs.db
.idea/